body {
  @include media-breakpoint-up(sm) {
    font-size: 14px;
  }
  @include media-breakpoint-up(md) {
    font-size: 16px;
  }
  @include media-breakpoint-up(lg) {
    /*font-size: 18px;*/
  }
}

$spacer: .8rem;

@include media-breakpoint-up(sm) {
  $spacer: .9rem;
}

@include media-breakpoint-up(md) {
  $spacer: 1rem;
}

.screen-reader-text {
  @include visually-hidden;
}

.entry-terms {
  &:after {
    content: ' | ';
  }
}

.btn {
  padding: ($spacer * 1.375) ($spacer * 2.125);
  text-transform: uppercase;
  font-size: 1rem;
  border-width: 2px;
}

.btn-primary {
  @extend .btn-outline-primary;
  background: $white;
  color: $body-color;
  border-color: $body-color;

  &:hover,
  &:focus,
  &:active,
  &.active {
    background-color: $body-color;
    color: $body-color-inverted;
    border-color: $body-color;
  }
}

.btn-secondary {}

.btn-success {
  @extend .btn-outline-success;
}

.btn-info {
  background-color: $secondary;
  color: $body-color-inverted;
  border-color: $secondary;

  &:hover,
  &:focus,
  &:active,
  &.active {
    background-color: $body-color-inverted;
    color: $secondary;
    border-color: $secondary;
  }
}

.btn-warning {
  @extend .btn-outline-warning;
}

.btn-danger {
  @extend .btn-outline-danger;
}

h1,
h2,
h3,
h4 {
  a {
    color: $body-color;

    &:hover,
    &:focus,
    &:active,
    &.active {
      color: lighten($body-color,10%);
    }
  }
}

.background-line {
  margin-top: 2rem;
  position: relative;
  z-index: 1;

  &:before {
    border-top: 1px solid $body-color;
    content:" ";
    margin: 0 auto;
    position: absolute;
    top: 1rem; left: 0; right: 0; bottom: 0;
    width: 95%;
    z-index: -1;
  }

  span {
    background: $body-bg;
    padding: 0 1rem 0 0;
  }
}

.background-line--centered {
    margin-top: 2rem;
    position: relative;
    text-align: center;
    z-index: 1;

  &:before {
    border-top: 1px solid $body-color;
    content:" ";
    margin: 0 auto;
    position: absolute;
    top: 1rem; left: 0; right: 0; bottom: 0;
    width: 95%;
    z-index: -1;
  }

  span {
    background: $body-bg;
    padding: 0 1rem;
  }
}
