body {
  @include media-breakpoint-up(sm) {
    font-size: 15px;
  }
  @include media-breakpoint-up(md) {
    font-size: 16px;
  }
  @include media-breakpoint-up(lg) {
    /*font-size: 18px;*/
  }
}

$spacer: .8rem;

@include media-breakpoint-up(sm) {
  $spacer: .9rem;
}

@include media-breakpoint-up(md) {
  $spacer: 1rem;
}

.screen-reader-text {
  @include visually-hidden;
}

.entry-terms {
  &:after {
    content: ' | ';
  }
}

.btn {
  padding: ($spacer * 1.375) ($spacer * 2.125);
  text-transform: uppercase;
  font-size: 1rem;
  border-width: 2px;
}

.btn-primary {
  @extend .btn-outline-primary;
  background: $white;
  color: $body-color;
  border-color: $body-color;

  &:hover,
  &:focus,
  &:active,
  &.active {
    background-color: $body-color;
    color: $body-color-inverted;
    border-color: $body-color;
  }
}

.btn-secondary {}

.btn-success {
  @extend .btn-outline-success;
}

.btn-info {
  background-color: $secondary;
  color: $body-color-inverted;
  border-color: $secondary;

  &:hover,
  &:focus,
  &:active,
  &.active {
    background-color: $body-color-inverted;
    color: $secondary;
    border-color: $secondary;
  }
}

.btn-warning {
  @extend .btn-outline-warning;
}

.btn-danger {
  @extend .btn-outline-danger;
}

h1,
h2,
h3,
h4 {
  a {
    color: $body-color;

    &:hover,
    &:focus,
    &:active,
    &.active {
      color: lighten($body-color,10%);
    }
  }
}

.background-line {
  margin-top: 2rem;
  position: relative;
  z-index: 1;

  &:before {
    border-top: 1px solid $body-color;
    content:" ";
    margin: 0 auto;
    position: absolute;
    top: 1rem; left: 0; right: 0; bottom: 0;
    width: 95%;
    z-index: -1;
  }

  span {
    background: $body-bg;
    padding: 0 1rem 0 0;
  }
}

.background-line--centered {
    margin-top: 2rem;
    position: relative;
    text-align: center;
    z-index: 1;

  &:before {
    border-top: 1px solid $body-color;
    content:" ";
    margin: 0 auto;
    position: absolute;
    top: 1rem; left: 0; right: 0; bottom: 0;
    width: 95%;
    z-index: -1;
  }

  span {
    background: $body-bg;
    padding: 0 1rem;
  }
}

.entry-meta {
  .categories {
    @include no-bullets;
  }

  .entry-date {
    font-family: $font-family-sans-serif;
  }
}


%primary-grid-item {
  padding: .8rem;
  background-color: $secondary;
  color: $body-color-inverted;

  a {
    color: $body-color-inverted;

    &:hover,
    &:focus {
      color: $body-color-inverted;
      text-decoration: none;
    }
  }

  &:hover,
  &:focus {
    background-color: $body-color;
  }
}

%alternate-grid-item {
  padding: .8rem;
  background: $body-bg-alt;
  color: $body-color;

  a {
    color: $body-color;

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }

  &:hover,
  &:focus {
    border-color: $body-color;
    background-color: $body-color;
    color: $body-color-inverted;

    a {
      color: $body-color-inverted;
    }
  }
}

%secondary-grid-item {
  padding: .8rem;
  border: 1px solid $body-color;
  background: $body-bg;
  color: $body-color;

  a {
    color: $body-color;

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }

  &:hover,
  &:focus {
    border-color: $secondary;
    background-color: $secondary;
    color: $body-color-inverted;

    a {
      color: $body-color-inverted;
    }
  }
}

%right-arrow {
  background-image: url('../images/right-arrow.svg');
  background-position: right 2.5rem bottom 2.5rem;
  background-repeat: no-repeat;
  background-size: auto 2.375rem;

  .entry-footer {
    padding-bottom: 1rem;
  }
}

.section-header {
  @extend .col-md-12;
}

.section-heading {
  position: relative;
  z-index: 1;

  text-align: center;
  font-size: .9375rem;
  font-family: $font-family-sans-serif;
  text-transform: uppercase;

  margin-top: 2rem;
  margin-bottom: 2rem;

  @include media-breakpoint-up(md) {
    margin-top: 2rem;
    margin-bottom: 3rem;
  }

  @include media-breakpoint-up(lg) {
    margin-top: 2rem;
    margin-bottom: 5rem;
  }

  &:before {
      border-top: 1px solid $gray-600;
      content:"";
      margin: 0 auto;
      position: absolute;
      top: 50%; left: 0; right: 0; bottom: 0;
      width: 100%;
      z-index: -1;
  }

  span {
      background: $body-bg;
      padding: 0 1rem;
  }
}
