#wrapper-footer-full {}

.site-footer {

  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  .menu {
    li {
      padding-left: 1rem;
    }

    .fa {
      font-family: $font-family-sans-serif;
      font-weight: bold;
      font-style: normal;
    }
  }

  .widget {}

}

#wrapper-footer-top {
  .grid-item {
    @extend .col-md-4;
  }

  .entry-meta {
    margin-bottom: .5rem;
    text-transform: uppercase;
  }

  @include media-breakpoint-down(md) {
    .grid-item + .grid-item {
      margin-top: 2rem;
    }
  }

  .widget {
    @extend %primary-grid-item;
  }
}
