#wrapper-footer-full {}

#colophon {

  .widget {}

}

#wrapper-footer-top {
  .grid-item {
    @extend .col-md-4;
  }

  .entry-meta {
    margin-bottom: .5rem;
    text-transform: uppercase;
  }

  @include media-breakpoint-down(md) {
    .grid-item + .grid-item {
      margin-top: 2rem;
    }
  }

  .widget {
    @extend %secondary-grid-item;
  }
}
