.search-filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin-right: -1rem;
  margin-left: -1rem;

  label {
    margin: 1rem;
    flex: 1 1 auto;
    border: 1px solid $gray-400;
  }

  input,
  button,
  select {
    padding: 1.125rem;
    box-shadow: none;
    border-radius: $btn-border-radius;
    border: none;
    font-family: $font-family-sans-serif;
    color: $text-muted;
  }

  select {
    width: 100%;
    height: 60px;
    &:focus {}
  }

  input {
    width: 75%;
    margin: 0;
  }

  button {
    width: 25%;
    margin: 0;
    background-color: $gray-400;
    cursor: pointer;
    color: $body-color-inverted;
  }

  .search-group {
    width: 100%;
  }
}
