::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder {
  text-transform: uppercase;
}

.search-filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin-right: -1rem;
  margin-left: -1rem;

  label {
    margin: 1rem;
    flex: 1 1 auto;
    border: 1px solid $gray-400;
  }

  input,
  button,
  select {
    padding: 1.125rem;
    box-shadow: none;
    border-radius: $btn-border-radius;
    border: none;
    font-family: $font-family-sans-serif;
    color: $text-muted;
  }

  select {
    width: 100%;
    height: 60px;
    &:focus {}
  }

  input {
    width: 75%;
    margin: 0;
  }

  button {
    width: 25%;
    margin: 0;
    background-color: $gray-400;
    cursor: pointer;
    color: $body-color-inverted;
  }

  .search-group {
    width: 100%;
  }
}

.form-title {
  margin-bottom: 2.125rem;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  font-family: $font-family-sans-serif;
  color: $secondary;
}

.post-filter {
  margin-top: 4.625rem;
  margin-bottom: 5rem;
}


#newsletter {
  .grid-item {
    @extend .col-12;
    display: flex;
  }

  .home-section-item {
    padding-top: 5rem;
    border-top: 1px solid $body-color;

    flex-basis: 100%;
  }

  .entry-content {
    display: flex;
    justify-content: center;
    align-items: center;

    h3,
    .entry-shortcode {}
  }

  @include media-breakpoint-up(sm) {

    h3,
    .entry-shortcode {
      padding: 0 1rem;
    }

  }
}

.actionnetwork-signup-form {
  p {
    @extend .h3;
  }
}

#newsletter {
  /* display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap; */

  .pai-signup-form-input-group {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
  }

  .widget-title {
    margin-bottom: 1rem;
    font-family: $headings-font-family;
    text-transform: none;
    font-size: 1.5rem;
  }

  label,
  .hidden {
    @include visually-hidden;
  }

  input {
    width: 100%;
    padding: .5rem .75rem;
    border-radius: 0;
    border: 1px solid $gray-6;
    line-height: 24px;
    font-family: $font-family-sans-serif;

    flex-basis: 75%;
  }

  input[type="submit"],
  button {
    background-color: $gray-6;
    border: 1px solid $gray-6;
    color: $body-color-inverted;
    text-transform: uppercase;
    flex-basis: 25%;

    &:hover,
    &:focus,
    &:active,
    &.active {
      background-color: $body-color-inverted;
      border-color: $gray-6;
      color: $gray-6;
    }
  }

}
