.grid {

  >* {
    width: 100%;
  }

  & > article {
    margin-bottom: $spacer;
  }

  @include media-breakpoint-up(sm) {
    display: flex;
    flex-wrap: wrap;
    direction: row;
    justify-content: space-between;

    >* {
      width: 48%;
    }
  }

  @include media-breakpoint-up(md) {

    >* {
      width: 31%;
    }
  }

}

.col-12,
.col-md-12 {
  @include media-breakpoint-up(md) {
    padding-right: 0;
    padding-left: 0;
  }
}
