
.jumbotron {
  padding: 0;
  text-align: center;

  h2 {
    margin-bottom: 1.5em;
    font-size: 2.625rem;
    font-weight: bold;
    line-height: 1.25;
  }

  .btn {
    font-size: 1rem;
  }
}


.home {
  #full-width-page-wrapper {
    padding-top: 0;
  }
}

/* Sections */

#wrapper-hero {
  width: 100%;
}

/* Static Hero */
#wrapper-statichero {

  margin-bottom: ($spacer * 8);

  @include media-breakpoint-up(md) {
    margin-bottom: ($spacer * 11.25);
  }
}

/* Slider */
#featured-research {
  margin-bottom: ($spacer * 6.5);

  .entry-header {
    padding: $spacer;
    border: 1px solid $body-color;
  }

  @include media-breakpoint-down(md) {
    .entry-header {
      @include clearfix;
    }
  }

  @include media-breakpoint-up(md) {
    .carousel-inner {
      margin-top: -80px;

      &> article {
        margin-top: 80px;

        img {
          object-fit: cover;
          max-height: 600px;
        }
      }
    }
    .entry-header {
      margin-top: -80px;
      width: 35%;
      position: absolute;
      top: 0;
      left: ($spacer * 3.125);
    }

  }

  .featured-category {
    &:after {
      content: ' | ';
    }
  }
}

#our-work {
  width: 100%;

  .section-header {

    span {
      font-family: $font-family-base;
    }

  }

  h2 {
    font-size: 2.625rem;
    font-family: $headings-font-family;
    text-transform: none;
    font-weight: bold;
  }

  article {
    margin-bottom: ($spacer * 2);

    .entry-content {
      padding: $spacer;
      margin-top: 200px;
      background-color: $white;
    }

    .entry-media {
      margin-bottom: 0;
    }

  }

  @extend .grid;

  @include media-breakpoint-up(md) {
    article {

      .entry-content {
        width: 82%;
        margin-left: auto;
        margin-right: auto;
        border: 1px solid $body-color;
      }

    }

  }

}

#recent-news {
  width: 100%;

  @extend .grid;

  article {
    @extend %primary-grid-item;

    .entry-header {
      background-color: transparent;
    }

  }

}

#newsletter,
#support-us {
  .entry-header,
  .entry-content,
  .entry-media,
  .entry-footer {
    background-color: transparent;
  }
}

#newsletter {

  padding-top: ($spacer * 5);
  border-top: 1px solid $body-color;

  article {
    width: 100%;
  }

  .entry-terms {
    &:after {
      content: none;
    }
  }

  @include media-breakpoint-up(sm) {

    .entry-content {
      width: 58%;
      margin-right: auto;
      margin-left: auto;
      display: flex;
      justify-content: space-between;

      .entry-meta,
      .entry-shortcode {
        width: 48%;
      }
    }

  }
}

#support-us {
  .entry-header,
  .entry-content,
  .entry-media,
  .entry-footer {
    text-align: center;
  }

  .entry-content {
    margin-bottom: ($spacer * 3.125);
  }
}
