
.jumbotron {
  padding: 0;
  text-align: center;

  h2 {
    margin-bottom: 1.5em;
    font-size: 2.625rem;
    font-weight: bold;
    line-height: 1.25;
  }

  .btn {
    font-size: $font-size-base;
  }
}

.entry-excerpt {
  font-family: $font-family-sans-serif;
  font-weight: normal;
  font-style: normal;
}

.home-section {
  .grid-item {
    @extend .col-lg-4;
  }

  @include media-breakpoint-down(md) {
    .grid-item + .grid-item {
      margin-top: 2rem;
    }
  }

  .entry-meta {
    margin-bottom: .5rem;
  }

  @include media-breakpoint-up(lg) {
    .section-heading {
      margin-top: 1rem;
    }
  }

}

#wrapper-footer-top {
  .section-heading {
    margin-top: 1rem;
  }
}

#wrapper-statichero {

  margin-bottom: 2rem;

  @include media-breakpoint-up(md) {
    margin-bottom: 3rem;
  }

  @include media-breakpoint-up(lg) {
    margin-bottom: 6rem;
  }

}

#featured-research {

  .entry-header {
    @extend %primary-grid-item;
    padding: 1.6rem 1.6rem 2rem 1.6rem;
  }

  .entry-meta {
    text-transform: uppercase;
  }

  .updated {
    display: none;
    &.published {
      display: inline;
    }
  }

  @include media-breakpoint-down(md) {
    .entry-header {
      @include clearfix;
    }
  }

  @include media-breakpoint-up(lg) {
    .carousel-inner {
      margin-top: -80px;

      &> article {
        margin-top: 80px;

        img {
          object-fit: cover;
          max-height: 600px;
        }
      }
    }
    .entry-header {
      margin-top: -80px;
      width: 35%;
      position: absolute;
      top: 0;
      left: ($spacer * 3.125);
    }

  }

  .featured-category {
    &:after {
      content: ' | ';
    }
  }
}

#newsletter {
  .grid-item {
    @extend .col-12;
    display: flex;
  }

  .home-section-item {
    padding-top: 5rem;
    border-top: 1px solid $body-color;

    flex-basis: 100%;
  }

  .entry-content {
    display: flex;
    justify-content: center;
    align-items: center;

    h3,
    .entry-shortcode {}
  }

  @include media-breakpoint-up(sm) {

    h3,
    .entry-shortcode {
      padding: 0 1rem;
    }

  }
}

#our-work {
  .home-section-item {
    padding-top: 200px;

    .entry-content {
      @extend %primary-grid-item;
      padding: 1.6rem 1.6rem 2rem 1.6rem;
    }

  }

  .section-header {

    span {
      font-family: $font-family-base;
    }

  }

  h2 {
    font-size: 2.625rem;
    font-family: $headings-font-family;
    text-transform: none;
    font-weight: 700;
  }

  @include media-breakpoint-up(lg) {

    margin-bottom: 5rem;

    .home-section-item {
      position: relative;
      height: 300px;
    }

    .entry-content {
      position: absolute;
      width: 82%;
      margin-right: auto;
      margin-left: auto;
      top: 200px;
      right: 0;
      left: 0;
    }

  }

}

#recent-news {
  .grid-item {
    display: flex;
  }

  .post {
    @extend %primary-grid-item;
    padding: 1.6rem 1.6rem 2rem 1.6rem;
  }

  .entry-meta {
    text-transform: uppercase;
  }

  .source-publication {
    &:after {
      content: ' | ';
    }
  }
}

#support-us {
  .grid-item {
    @extend .col-12;

    text-align: center;

    .entry-footer {
      margin-top: 2rem;
    }
  }
}
