
.jumbotron {
  padding: 0;
  text-align: center;

  h2 {
    margin-bottom: 1.5em;
    font-size: 2.625rem;
    font-weight: bold;
    line-height: 1.25;
  }

  .btn {
    font-size: 1rem;
  }
}

.home-section {
  .grid-item {
    @extend .col-md-4;
  }

  @include media-breakpoint-down(md) {
    .grid-item + .grid-item {
      margin-top: 2rem;
    }
  }

}

#wrapper-statichero {

  @include media-breakpoint-up(md) {
    margin-bottom: 3rem;
  }

  @include media-breakpoint-up(lg) {
    margin-bottom: 9rem;
  }

}

#featured-research {
  margin-bottom: ($spacer * 6.5);

  .entry-header {
    @extend %secondary-grid-item;
  }

  @include media-breakpoint-down(md) {
    .entry-header {
      @include clearfix;
    }
  }

  @include media-breakpoint-up(md) {
    .carousel-inner {
      margin-top: -80px;

      &> article {
        margin-top: 80px;

        img {
          object-fit: cover;
          max-height: 600px;
        }
      }
    }
    .entry-header {
      margin-top: -80px;
      width: 35%;
      position: absolute;
      top: 0;
      left: ($spacer * 3.125);
    }

  }

  .featured-category {
    &:after {
      content: ' | ';
    }
  }
}

#newsletter {}

#our-work {
  .home-section-item {
    padding-top: 200px;

    .entry-content {
      @extend %secondary-grid-item;
    }

  }

  @include media-breakpoint-up(md) {

    .home-section-item {
      position: relative;
      height: 300px;
    }

    .entry-content {
      position: absolute;
      width: 82%;
      margin-right: auto;
      margin-left: auto;
      top: 200px;
      right: 0;
      left: 0;
    }

  }

}

#recent-news {
  .post {
    @extend %primary-grid-item;
  }
}
