iframe {
  border: 0;
}

figure {
  img {}
}

.featured-image {}

.carousel-item {
  backface-visibility: visible;
}

.carousel-control-prev,
.carousel-control-next {
  width: 10%;
  opacity: .8;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 48px;
  width: 26px;
}

.carousel-control-prev-icon {
  background-image: url('../images/left-arrow.svg');
}

.carousel-control-next-icon {
  background-image: url('../images/right-arrow.svg');
}

img.wp-post-image {}

home-section-item {
  @extend %grayscale;
}

.wp-caption-text {
  margin-top: 1.375rem;
  margin-bottom: 3rem;
  font-size: $font-size-base;
  font-family: $font-family-sans-serif;
  color: $text-muted;
}
