.menu {
  @include no-bullets;
}

.nav {
  .dropdown-toggle {
    .caret {
      display: none;
    }
  }
}

.navbar {
  &> .container {
    align-items: center;
  }
}

.navbar-nav {
  @include media-breakpoint-up(md) {
    align-items: center;
  }
}

.navbar-light {
  background-color: $body-bg;
  color: $body-color;

  a {
    color: $body-color;
  }
}

.widget_subpages_current_page,
.current-menu-ancestor,
.current-menu-item  {
  font-weight: bold;
}

#main-menu {
  text-transform: uppercase;
  width: 100%;
  justify-content: space-between;

  &> ul {
    &> li {}
  }

  li {
    font-size: .825rem;

    @include media-breakpoint-up(md) {
      padding-right: 1em;
    }

    a {
      color: $body-color;
    }
  }

  .dropdown {
    &:hover,
    &:focus {
      .dropdown-menu {
        display: block;
        btn-border-radius: 0;
      }
    }
  }
}

#section-menu {

  text-transform: uppercase;
  font-size: .825rem;

  .search-menu {
    display: none;
  }

  ul {
    @include no-bullets;
    display: flex;
    flex-wrap: wrap;
  }

  li {
    padding: .5em 1em .5em 0;

    a {
      color: $body-color;
    }

  }

}

.jetpack-social-navigation {
  flex: 0 0 100%;
  font-size: 1.25rem;

  @include media-breakpoint-up(md) {
    flex: 0 0 10%;
  }

  ul {
    display: flex;

    @include media-breakpoint-up(md) {
      margin-bottom: 0 !important;
    }
  }
}

.highlight {
  a {
    background-color: $white;
    border: 2px solid $body-color;
    text-align: center;
    padding: .5em 1em;

    &:hover,
    &:focus,
    &:active,
    &.active {
      background-color: $body-color;
      color: $white !important;
      border-color: $body-color;
      text-decoration: none;
    }
  }

}
