.menu {
  @include no-bullets;
}

.navbar {
  &> .container {
    align-items: center;
  }
}

#wrapper-sectionnav {
  .bg-faded {
    background-color: $bg-faded;
  }
}

#main-menu {
  li {
    @include media-breakpoint-up(md) {
      padding-right: 1em;
    }

    a {
      color: $navbar-dark-color;
    }
  }
}

#section-menu {

  ul {
    @include no-bullets;
    display: flex;
    flex-wrap: wrap;
  }

  li {
    padding: .5em 1em .5em 0;

    a {
      color: $body-color;
    }

    &.widget_subpages_current_page {
      font-weight: bold;
    }
    /*display: none;

    &.current-menu-item,
    &.current_page_item,
    &.current-menu-parent,
    &.current-page-parent {
      &.menu-item-has-children {
        display: block;

        & > a {
          display: none;
        }

        .sub-menu {
          display: flex;

          li {
            display: block;
            padding: 1em 1em 1em 0;
          }
        }
      }
    }*/

  }

}

.jetpack-social-navigation {
  flex: 0 0 10%;

  font-size: 1.25rem;

  ul {
    @include media-breakpoint-up(md) {
      margin-bottom: 0 !important;
    }
  }
}

#menu-social {

  a {
    color: $navbar-dark-color;
  }
}
