.page-template-default,
.page-template-page-research,
.page-template-page-series {

  .form-title {
    margin-top: 2rem;
  }

  .page {

    .entry-content {}

    .entry-footer {
      margin-top: 2rem;
    }

  }
}

/* Main content has padding */
.page,
.single-post,
.category-job,
.category-jobs,
.category-project,
.category-projects,
.search-results {
  .site-main {
    @include media-breakpoint-up(md) {
      .entry-content {
        padding-right: $narrow-column-padding;
      }
      .section-heading {
        margin-right: -$narrow-column-padding;
      }
    }
  }
}

.home,
.page-template-page-research,
.page-template-page-team,
.page-template-page-series,
.archive {
  @include media-breakpoint-up(md) {

    .intro {
      padding-right: $narrow-column-padding;
    }
  }
}

/* Pages that list content dont have padding */
.home,
.page-template-page-research,
.page-template-page-team,
.page-template-page-series,
.page-donate {
  .site-main {
    @include media-breakpoint-up(md) {

      .entry-content {
        padding-right: 0;
      }

      .section-heading {
        margin-right: 0;
      }
    }
  }
}

.archive,
.page-donate {
  @include media-breakpoint-up(md) {

    .intro {
      padding-right: $narrow-column-padding;
    }
  }
}

.page-press {
  .secondary-content {
    margin-top: 2.5rem;
  }
}

.page-header,
.page-content {

  .intro {
    @extend .lead;
  }

  &:not(.has-secondary-content) {
    padding-bottom: 2rem;
    margin-bottom: 3rem;
    border-bottom: 2px solid $gray-3;

    @include media-breakpoint-up(md) {
      padding-bottom: 3rem;
      margin-bottom: 4rem;
    }
  }

}

/* Team Page */
.type-team-member {

  h3,
  h4 {
    font-family: $font-family-sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-style: normal;
  }

  h4 {
    &:after {
      margin-top: 2rem;
      margin-bottom: 2rem;
      display: block;
      content: '';
      width: 4.125rem;
      border-bottom: 2px solid $secondary;
    }
  }

  @include media-breakpoint-up(sm) {
    .entry-image {
      padding-right: 2.5rem;

      img {
        width: 100%;
        height: auto;
      }
    }
    .entry-body {
      padding-left: 2.5rem;
    }
  }

}

.type-team-member + .type-team-member {
  margin-top: 2rem;

  @include media-breakpoint-up(md) {
    margin-top: 3.75rem;
  }

  @include media-breakpoint-up(lg) {
    margin-top: 4.6875rem;
  }
}

.team-category {
  margin-bottom: 2rem;
  color: $secondary;

  &:not(:first-of-type) {
    margin-top: 2rem;
  }

  @include media-breakpoint-up(md) {
    margin-bottom: 3.75rem;

    &:not(:first-child) {
      margin-top: 3.75rem;
    }
  }
}
