.page-template-default {
  .site-main {
    & > article {

      .entry-header {
        @include media-breakpoint-up(md) {
          margin-bottom: 5rem;
        }
      }

      .entry-title {
        display: inline-block;
        padding: 1.5rem;
        background-color: $white;
        font-weight: bold;
      }

      .entry-content {
        height: auto;

        @include media-breakpoint-up(md) {
          position: relative;
        }

        @include clearfix;
      }

      .entry-body {
        background-color: $white;
        font-family: $headings-font-family;
        padding: 1.875rem;

        @include media-breakpoint-up(md) {
          position: absolute;
          top: 0;
          margin-top: -3.25rem;
          margin-left: 5.75rem;
          width: 65%;
          font-size: 1.25rem;
        }
      }

      .entry-main {
        > * {
          @include media-breakpoint-up(md) {
            width: 66.666%;
            padding-left: 100px;
          }
        }

        .section-heading {
          @include media-breakpoint-up(md) {
            width: 100%;
            padding-left: 0;
          }
        }
      }
    }
  }
}

/* Research Page */
.page-template-page-research {

  .site-main {
    h2,
    h3 {
      font-family: $font-family-sans-serif;
      text-transform: uppercase;
    }

    h2 {
      margin-top: 3.375rem;
      margin-bottom: 2.375rem;
      font-size: 2rem;
    }

    h3 {
      margin-top: 2.625rem;
      margin-bottom: 2.25rem;
      font-size: 1rem;
      font-weight: bold;
    }

    &> article {

      .entry-content {
        font-family: $font-family-sans-serif;
        font-size: 1.5rem;

        @include media-breakpoint-up(md) {
          padding-right: 7.125rem;
        }
      }
    }
  }

  .grid-list,
  .list-view {}

  /*.grid-list {
    @extend .grid;

    @include media-breakpoint-up(md) {
      margin-right: -2rem;
      margin-left: -2rem;
    }

    article {
      flex-grow: 1;

      @include media-breakpoint-up(md) {
        flex-basis: calc( 33.333% - 6rem );
        margin-right: 2rem;
        margin-left: 2rem;
      }

      .entry-footer {
        margin-top: 1.5rem;
      }

      .understrap-read-more-link {

        color: $body-color;
        border-bottom: 1px solid $body-color;

        &:hover,
        &:focus {
          text-decoration: none;
        }

        &:after {
          @extend .fa;
          padding-left: .5rem;
          content: $fa-var-angle-double-right;
        }
      }
    }
  }*/

  .list-view {

    article {

      /* First article is featured */
      &:first-of-type {
        flex-basis: 100%;
      }

    }
  }

  .form-title {
    margin-bottom: 2.125rem;
    font-size: 1rem;
    font-weight: bold;
    color: $secondary;
  }

  .post-filter {
    margin-top: 4.625rem;
    margin-bottom: 5rem;
  }
}

#report-series-wrapper,
#research-reports-wrapper {

  h2,
  h3 {
    font-family: $font-family-sans-serif;
    text-transform: uppercase;
  }

  h2 {
    margin-top: 3.375rem;
    margin-bottom: 2.375rem;
    font-size: 2rem;
  }

  .section-description {
    margin-bottom: 2rem;
    font-size: 1.25rem;

    @include media-breakpoint-up(md) {
      width: 75%;
    }
  }

  article {

    /* Featured */
    &:first-of-type {

      .entry-excerpt {
        font-size: 1.75rem;
      }

    }
  }

}

#report-series-wrapper {
  background-color: $body-bg-alt;

  h3 {
    font-size: 1rem;
  }
}

#research-reports-wrapper {}

/* Archive  */
.category,
.tax-series {

  .taxonomy-title {
    margin-bottom: 2.375rem;
    text-transform: uppercase;
    color: $secondary;
    font-family: $font-family-sans-serif;
    font-weight: bold;
  }

  .taxonomy-description {
    font-size: 1.5rem;
    font-family: $font-family-sans-serif;

    @include media-breakpoint-up(md) {
      padding-right: 7.125rem;
    }
  }

}

.home-section,
.page-section {

  margin-left: auto;
  margin-right: auto;

  article {
    background-size: 100% auto;
    background-repeat: no-repeat;
  }

  h2 {
    font-size: 1rem;
    font-family: $font-family-base;
    text-transform: uppercase;
  }

  .entry-header,
  .entry-content,
  .entry-media,
  .entry-footer {
    background-color: $white;
  }

  .entry-title {
    font-size: 2rem;
    font-weight: bold;
  }

  .entry-header {}
  .entry-content {}
  .entry-media {}

  .entry-meta {
    text-transform: uppercase;
    font-size: 1rem;
  }

  .updated {
    @include visually-hidden;
  }
}


.page-section {

  @extend .grid;

  article {
    padding: $spacer $spacer ($spacer*2) $spacer;
    background-color: $white;

    .entry-header {}

    .textwidget {
      font-size: 2rem;
      font-family: $headings-font-family;
      color: $body-color;
      p {
        font-size: 2rem;
        font-family: $headings-font-family;
        font-weight: bold;
        line-height: 1.1;
      }

      a {
        color: $body-color;
      }
    }

    &:hover,
    &:focus {
      background-color: $secondary;
      color: $white;

      a {
        color: $white;
      }
    }
  }

}

.section-heading {
  text-align: center;
  margin-top: ($spacer * 5);
  margin-bottom: ($spacer * 5);

  position: relative;
  z-index: 1;

  font-size: .9375rem;
  font-family: $font-family-sans-serif;
  text-transform: uppercase;

  &:before {
      border-top: 1px solid $gray-600;
      content:"";
      margin: 0 auto;
      position: absolute;
      top: 50%; left: 0; right: 0; bottom: 0;
      width: 100%;
      z-index: -1;
  }

  span {
      background: $body-bg;
      padding: 0 1rem;
  }
}
