.sharing-screen-reader-text {
  @include visually-hidden;
}

.sd-sharing {
  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  li {
    align-self: center;
    text-align: center;
  }

  li + li {
    margin-top: 0 !important;
  }

  a {
    @extend .fa;
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    font-size: 2rem;
    background-color: $body-color;
    color: $body-color-inverted;
    text-decoration: none;

    &:hover,
    &:focus {
      background-color: $primary;
    }

    &.share-facebook {
      &:before {
        content: $fa-var-facebook;
      }
    }
    &.share-twitter {
      &:before {
        content: $fa-var-twitter;
      }
    }
    &.share-email {
      &:before {
        content: $fa-var-envelope;
      }
    }
    &.share-reddit {
      &:before {
        content: $fa-var-reddit;
      }
    }
  }
  .share-end {
    display: none;
  }
}


.widget-area {

  .ez-toc {
    .widgettitle,
    .widget-title {
      color: $secondary;
    }

    .ez-toc-list {

      li {
        font-size: $font-size-base;
      }

      ul {
        margin-top: 0.75rem;
      }

      a.active {
        color: $gray-600;
      }
    }

  }

  .ez-toc-widget-container {
    max-height: 600px;
    overflow-y: auto;
    padding-right: 1rem;
  }

  .widget + .widget {
    margin-top: 3rem;
  }

}
