.single {

  /* Single Report */
  .content-area {

    .report {

      h1 {
        font-weight: bold;
      }

      h2,
      h3 {
        font-family: $font-family-sans-serif;
        text-transform: uppercase;
      }

      h2 {
        @extend .background-line;
        margin-top: 7.5rem;
        margin-bottom: 2.875rem;
        font-size: 2rem;
      }

      h3 {
        margin-top: 2.625rem;
        margin-bottom: 2.25rem;
        font-size: 1rem;
        font-weight: bold;
      }

      p + p {
        margin-top: 2.25rem;
      }

      blockquote {
        margin-top: 4.5rem;
        margin-bottom: 4.5rem;
        padding-left: 2.375rem;
        font-style: italic;
        border-left: 1px solid $body-color;

        footer {
          display: inline-block;

          &:before {
            content: ' - ';
          }
        }
      }

      table {
        @extend .table;
      }

      .entry-content {
        margin-top: 3.125rem;
      }

      .entry-subtitle {
        margin-bottom: 1.625rem;
        font-size: 1.5rem;
        font-family: $font-family-sans-serif;
      }

      .entry-meta {
        ul {
          @include no-bullets;
        }

        .categories {
          margin-bottom: 2rem;

          text-transform: uppercase;
          font-weight: bold;

          a {
            color: $secondary;
          }
        }
      }

      .post-date {
        margin-bottom: 2.875rem;
      }

      .authors {
        font-family: $font-family-sans-serif;
        text-transform: uppercase;

        a {
          color: $body-color;
          text-decoration: underline;
        }

        .hr {
          display: block;
          margin-bottom: 5rem;
          border-top: 1px solid $black;
          width: 112px;
        }

      }
    }

  }

}

.single-report {
  font-size: 1.25rem;

  #primary {
    @extend .col-md-9;
  }

  #right-sidebar {

    .sticky {

      @include media-breakpoint-up(md) {
        position: -webkit-sticky;
        position: sticky;
        top: 10%;
        margin-top: 5em;
      }

    }

    &:before,
    &:after {
      content: '';
      display: table;
    }
  }

}
