.archive {
  .taxonomy-title {
    text-transform: uppercase;
    color: $secondary;
    font-family: $font-family-sans-serif;
    font-weight:  700;
    font-size: $font-size-lg;
  }

  .taxonomy-description {
    @extend .lead;
  }

  .category-project,
  .category-projects {
    .wp-post-image {
      max-width: 280px;
      width: 100%;
      height: auto;
      margin-bottom: 1rem;
      text-align: center;
    }

    .entry-title {
      @extend .sr-only;
    }

    @include media-breakpoint-up(sm) {
      .wp-post-image {
        width: 300px;
        text-align: left;
      }
    }

    @include media-breakpoint-up(md) {
      .wp-post-image {}
    }
  }

  .hentry + .hentry {
    margin-top: 2rem;

    @include media-breakpoint-up(md) {
      margin-top: 3.75rem;
    }

    @include media-breakpoint-up(lg) {
      margin-top: 4.6875rem;
    }

  }

}

.single {

  .content-area {

    .entry-content {
      li + li {
        margin-top: 1.5rem;
      }
    }

    .entry-meta {
      ul {
        @include no-bullets;
      }

      .categories {
        margin-bottom: 2rem;

        text-transform: uppercase;
        font-weight: bold;

        a {
          color: $secondary;
        }
      }
    }

    .entry-date {
      margin-bottom: 2.875rem;
      font-family: $headings-font-family;
    }

    .authors {
      font-family: $font-family-sans-serif;
      text-transform: uppercase;

      a {
        color: $body-color;
        text-decoration: underline;
      }

      .hr {
        display: block;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        border-top: 1px solid $black;
        width: 7.75rem;
      }

    }

  }

}

.single-post {
  .content-area {
    .entry-meta {
      margin-bottom: 2rem;
    }

    .updated {
      display: none;

      &.published {
        display: inline;
      }
    }

    .byline {
      display: none;
    }
  }
}

.single-report {
  font-size: $font-size-lg;

  .post-date,
  .label,
  .author {
    font-size: $font-size-base;
  }

  .categories {
    li {
      display: inline-block;
    }

    .separator {
      &:before {
        content: '\007C';
        color: $text-muted;
      }

      margin-right: .25rem;
      margin-left: .25rem;
    }
  }

  .widget-area {

    .sticky {

      @include media-breakpoint-up(md) {
        position: -webkit-sticky;
        position: sticky;
        top: 10%;
        margin-top: 3.125em;
      }

    }

    @include media-breakpoint-down(md) {
      .sd-sharing ul {
        justify-content: space-evenly;
      }

      .ez-toc {
        display: none;
      }
    }

    &:before,
    &:after {
      content: '';
      display: table;
    }

    @include media-breakpoint-up(md) {
      flex: 0 0 30%;
      max-width: 30%;
    }
  }

  .content-area {

    @extend .col-lg-8;

    h1 {
      font-weight: bold;
    }

    h2,
    h3 {
      font-family: $font-family-sans-serif;
    }

    h2 {
      margin-top: 4.5rem;
      margin-bottom: 2.75rem;
      font-size: 2rem;
    }

    h3 {
      margin-top: 2.625rem;
      margin-bottom: 2.25rem;
      font-size: $font-size-xl;
      font-weight: bold;
    }

    p + p {
      margin-top: 2.25rem;
    }

    blockquote {
      margin-top: 4.5rem;
      margin-bottom: 4.5rem;
      padding-left: 2.375rem;
      font-style: italic;
      border-left: 1px solid $body-color;

      footer {
        display: inline-block;

        &:before {
          content: ' - ';
        }
      }
    }

    table {
      @extend .table;
    }

    .entry-content {
      margin-top: 4.5rem;
    }

    .entry-subtitle {
      margin-bottom: 1.625rem;
      font-size: $font-size-xl;
      font-family: $font-family-sans-serif;
      font-weight: bold;
    }

    @include media-breakpoint-up(md) {
      flex: 0 0 70%;
      max-width: 70%;
    }
  }

}

/* Post List */
.list-view {

  .grid-item {
    &:first-of-type {
      @extend .col-md-12;
    }
    @extend .col-md-6;
    display: flex;
  }

  article {
    width: 100%;
    @extend %primary-grid-item;
    padding: 2.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;

    h2,
    h3 {
      font-weight: bold;
      font-family: $font-family-sans-serif;
      text-transform: uppercase;
    }

    .entry-content,
    .entry-excerpt {
      font-size: $font-size-md;

      p {
        font-size: $font-size-md;
      }
    }

  }

  .post,
  .report,
  .series {
    @extend %right-arrow;
    padding-bottom: 4rem;

    .entry-footer {
      margin-top: 2rem;
    }
  }

  .subpage {
    @extend %primary-grid-item;
    padding: 2.5rem;
  }

  .report {
    .entry-header {
      .entry-meta {
        margin-bottom: 1.25rem;
      }
    }

    .categories {
      li {
        display: inline-block;
        margin-right: 0;
      }

      .separator {
        margin-right: .25rem;
        margin-left: .25rem;

        &:before {
          content: '\007C';
        }
      }
    }
  }

  .entry-meta {
    text-transform: uppercase;
  }

}

.grid-item {
  &> article {
    width: 100%;
  }
}

.category-press-mention {
  .source-publication {
    &:after {
      content: ' | ';
    }
  }
}
