.archive {
  .taxonomy-title {
    text-transform: uppercase;
    color: $secondary;
    font-family: $font-family-sans-serif;
    font-weight:  700;
    font-size: 1.25rem;
  }

  .taxonomy-description {
    @extend .lead;

    @include media-breakpoint-up(md) {
      padding-right: 15%;
    }
  }

  .category-projects {
    .wp-post-image {
      max-width: 280px;
      width: 100%;
      height: auto;
      margin-bottom: 1rem;
      text-align: center;
    }

    @include media-breakpoint-up(sm) {
      .wp-post-image {
        width: 300px;
        text-align: left;
      }
    }

    @include media-breakpoint-up(md) {
      .wp-post-image {}
    }
  }

  .hentry + .hentry {
    margin-top: 2rem;
  }

  @include media-breakpoint-up(md) {
    .category-projects + .category-projects {
      margin-top: 5rem;
    }
  }

  @include media-breakpoint-up(lg) {
    .category-projects + .category-projects {
      margin-top: 10rem;
    }
  }

}

.single {

  .content-area {

    .entry-meta {
      ul {
        @include no-bullets;
      }

      .categories {
        margin-bottom: 2rem;

        text-transform: uppercase;
        font-weight: bold;

        a {
          color: $secondary;
        }
      }
    }

    .post-date {
      margin-bottom: 2.875rem;
    }

    .authors {
      font-family: $font-family-sans-serif;
      text-transform: uppercase;

      a {
        color: $body-color;
        text-decoration: underline;
      }

      .hr {
        display: block;
        margin-bottom: 5rem;
        border-top: 1px solid $black;
        width: 112px;
      }

    }


  }

}

.single-post {
  .content-area {
    .entry-meta {
      margin-bottom: 2rem;
    }

    .updated {
      display: none;

      &.published {
        display: inline;
      }
    }

    .byline {
      display: none;
    }
  }
}

.single-report {
  font-size: 1.25rem;

  #primary {
    @extend .col-lg-9;
  }

  #right-sidebar {

    .sticky {

      @include media-breakpoint-up(lg) {
        position: -webkit-sticky;
        position: sticky;
        top: 10%;
        margin-top: 5em;
      }

    }

    @include media-breakpoint-down(lg) {
      .sd-sharing ul {
        justify-content: space-evenly;
      }

      .ez-toc {
        display: none;
      }
    }

    &:before,
    &:after {
      content: '';
      display: table;
    }
  }

  .content-area {
    h1 {
      font-weight: bold;
    }

    h2,
    h3 {
      font-family: $font-family-sans-serif;
      text-transform: uppercase;
    }

    h2 {
      @extend .background-line;
      margin-top: 7.5rem;
      margin-bottom: 2.875rem;
      font-size: 2rem;
    }

    h3 {
      margin-top: 2.625rem;
      margin-bottom: 2.25rem;
      font-size: 1rem;
      font-weight: bold;
    }

    p + p {
      margin-top: 2.25rem;
    }

    blockquote {
      margin-top: 4.5rem;
      margin-bottom: 4.5rem;
      padding-left: 2.375rem;
      font-style: italic;
      border-left: 1px solid $body-color;

      footer {
        display: inline-block;

        &:before {
          content: ' - ';
        }
      }
    }

    table {
      @extend .table;
    }

    .entry-content {
      margin-top: 3.125rem;
    }

    .entry-subtitle {
      margin-bottom: 1.625rem;
      font-size: 1.5rem;
      font-family: $font-family-sans-serif;
    }
  }

}

/* Post List */
.list-view {

  .grid-item {
    &:first-of-type {
      @extend .col-md-12;
    }
    @extend .col-md-6;
    display: flex;
  }

  article {
    width: 100%;
    @extend %primary-grid-item;
    padding: 2.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;

    h2,
    h3 {
      font-weight: bold;
      font-family: $font-family-sans-serif;
      text-transform: uppercase;
    }

    .entry-content,
    .entry-excerpt {
      font-size: 1.125rem;

      p {
        font-size: 1.125rem;
      }
    }

  }

  .post,
  .report,
  .series {
    @extend %right-arrow;
    padding-bottom: 4rem;

    .entry-footer {
      margin-top: 2rem;
    }
  }

  .subpage {
    @extend %secondary-grid-item;
    padding: 2.5rem;
  }

  .report {
    .entry-header {
      .entry-meta {
        margin-bottom: 1.25rem;
      }
    }
  }

  .entry-meta {
    text-transform: uppercase;
  }

}

.category-press-mention {
  .source-publication {
    &:after {
      content: ' | ';
    }
  }
}
