
#search {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(#214a6c, 9.8);
  z-index: 2;

  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;

  -webkit-transform: translate(0px, -100%) scale(0, 0);
  -moz-transform: translate(0px, -100%) scale(0, 0);
  -o-transform: translate(0px, -100%) scale(0, 0);
  -ms-transform: translate(0px, -100%) scale(0, 0);
  transform: translate(0px, -100%) scale(0, 0);

  opacity: 0;

  &.open {
    -webkit-transform: translate(0px, 0px) scale(1, 1);
    -moz-transform: translate(0px, 0px) scale(1, 1);
    -o-transform: translate(0px, 0px) scale(1, 1);
    -ms-transform: translate(0px, 0px) scale(1, 1);
    transform: translate(0px, 0px) scale(1, 1);
    opacity: 1;
  }

  .close {
    position: fixed;
    top: $spacer;
    right: $spacer;
    color: $white;
    background-color: transparent;
    border-color: transparent;
    opacity: 1;
    padding: ($spacer * 0.625) $spacer;
    font-size: 2.5rem;
  }

  .search-group {
    position: absolute;
    top: 50%;
    width: 72%;
    margin: 0 auto;
    left: 0;
    right: 0;
    margin-top: -($spacer * 3.125);
    padding-left: $spacer;
    padding-right: $spacer;

    text-align: center;
    border-bottom: 2px solid $white;

    /* Flex */
    @include media-breakpoint-up(sm) {
      padding-left: 0;
      padding-right: 0;
    }

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    input[type="search"] {
      width: 90%;
    }
    button[type='submit'] {
      width: 10%;
    }

  }

  input[type="search"] {
    background: transparent;
    border: 0;
    outline: none;
    text-align: center;
    color: $white;
    font-family: $headings-font-family;
    font-size: 3.75rem;
    font-weight: 400;
  }

  button[type='submit'] {
    text-align: right;
    background: transparent;
    border: none;
    color: $white;
    font-size: 3.75rem;

    button[type='submit']:hover,
    button[type='submit']:focus,
    button[type='submit']:active {
      background: transparent;
      border: none;
      color: $white;
    }
  }

  %placeholder {
    color: rgba($white,.9);
    font-style: italic;
  }

}

#search-link {
  .search-icon {
    font-size: 1.125rem;
  }
}
