body {}

h1,
h2,
h3,
h4 {}

h1 {
  margin-bottom: 2rem;
}

.entry-title {}

.lead {
  font-family: $headings-font-family;
  font-size: 4rem;
}

.navbar-nav,
.btn,
.entry-meta,
.section-heading span {
  font-family: $font-family-sans-serif
}
