.page-section {

  .grid-item {

    &.widget-item {
      display: flex;
    }
  }

  article {
    @extend %primary-grid-item;

    .textwidget {
      font-size: 2rem;
      font-family: $headings-font-family;
      p {
        font-size: 2rem;
        font-family: $headings-font-family;
        font-weight: bold;
        line-height: 1.1;
      }
    }

  }

}

.single {
  .widget-area {
    font-family: $font-family-sans-serif;

    aside + aside {
      margin-top: 1.625rem;
    }

    ul {
      @include no-bullets;

      li {
        font-size: $font-size-base;
        line-height: 1.2;
      }

      li + li {
        margin-top: .75rem;
      }

      ul {
        margin-left: 1rem;
      }
    }

    .widgettitle,
    .widget-title {
      font-family: $font-family-sans-serif;
      font-size: $font-size-md;
      text-transform: uppercase;
    }

    .entry-title {
      font-family: $font-family-sans-serif;
      font-size: $font-size-base;
      text-transform: uppercase;
      line-height: 1.5rem;
    }

    .btn {
      display: block;
      width: 100%;
    }

    .sd-content {
      margin-top: 4.125rem;
    }

    .related-reports,
    .press-mentions {
      .widget-title,
      .widgettitle {
        margin-bottom: 1.375rem;
      }
    }

    .post-list {
      li {
        padding: 1rem 2rem 1rem 1rem;
        min-height: 100px;
        background-color: $secondary;

        background-image: url('../images/right-arrow.svg');
        background-position: right 12px top 24px;
        background-repeat: no-repeat;
        background-size: auto 24px;

        color: $body-color-inverted;
        border-color: $secondary;

        a {
          color: $body-color-inverted;
        }

        .entry-excerpt {
          margin-bottom: .5rem;
        }

        &:hover,
        &:focus,
        &:active,
        &.active {
          background-color: $body-color;
          color: $body-color-inverted;
          border-color: $body-color;
        }
      }
    }

    @include media-breakpoint-up(md) {
      padding-left: 2.5rem;
    }
  }

}

.page-promo {
  padding: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-color: $body-bg-alt;

  .widget-title,
  .widgettitle {
    margin-bottom: 1rem;
    font-family: $font-family-sans-serif;
    text-transform: uppercase;
  }
}

#wrapper-footer-full,
#wrapper-footer {
  background-color: $gray-800;
}

#wrapper-footer-full {
  padding-top: 8.75rem;
  margin-top: -6.25rem;
  color: $body-color-inverted;
  font-size: $font-size-base;

  .row {
    justify-content: center;
  }

  .footer-widget {
    text-align: center;

    @include media-breakpoint-up(md) {
      flex-basis: 50%;
    }
  }

  .widget-title {
    margin-bottom: 3.75rem;
    font-family: $font-family-sans-serif;
    text-transform: uppercase;
    font-size: $font-size-base;
  }

  .entry-footer {
    margin-top: 3.125rem;
  }

  .btn-danger {
    background-color: $red;
    color: $body-color-inverted;

    &:hover,
    &:focus,
    &:active {
      background-color: $body-color-inverted;
      color: $red;
    }
  }

}

#wrapper-footer {
  text-transform: uppercase;
  a {
    color: $body-color-inverted;
  }
}
