@font-face {
	font-family: 'Berthold Akzidenz Grotesk BE';
	src: url('../fonts/AkzidenzGroteskBE-Regular.eot');
	src: url('../fonts/AkzidenzGroteskBE-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/AkzidenzGroteskBE-Regular.woff2') format('woff2'),
		url('../fonts/AkzidenzGroteskBE-Regular.woff') format('woff'),
		url('../fonts/AkzidenzGroteskBE-Regular.ttf') format('truetype'),
		url('../fonts/AkzidenzGroteskBE-Regular.svg#AkzidenzGroteskBE-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}
